#
# Note: if you have ZFS pools on encrypted devices,
# you should disable zfs-import-cache and delete the
# zpool cache (/etc/zfs/zpool.cache.
# Otherwise, these devices would be removed from the cache
# after a failed attempt to load a token and would need to
# be reimported manually on the next boot.
# Scanning for ZFS pools on each boot solves this issue.
#

[Unit]
Description=Load token and decrypt disks
DefaultDependencies=no

Requires=systemd-udev-settle.service
Requires=cryptsetup.target

After=systemd-udev-settle.service
After=cryptsetup.target
After=systemd-remount-fs.service

Before=zfs-import-scan.service

[Service]
Type=oneshot
ExecStart=token_mgmt load

[Install]
WantedBy=basic.target

